
                    <img  class="slika" src="../../assets/images/slika.jpg"  style="width:100%;">

                        <div class="centered">
                            <div class="card custom-card">
                                <h5 class="card-header">Потребни ви се часови по <h1 id="skripta"></h1></h5>
                                <div class="card-body">
                                  <h4 class="card-title">Најди Тутор!</h4>
                                  <p class="card-text">Најди тутор е вистинското место за вас. Мој тутор претставува онлајн платформа каде најбрзо можете да закажете термин за час по било предмет кој ви е потребен.</p>
                                  <a [routerLink]="['/register']" class="btn btn-primary">Регистрирај се</a>
                                </div>
                              </div>

                            </div>

