<div class="container categories-custom">

  <div class="row my-3">
      <div class="col-md-4 categories-card" [routerLink]="['/categories', art]">
          <div class="card text-center blue-card">
              <div class="card-block">
                  <h4 class="card-title">Ликовна уметност</h4>
                  <h2><i class="fas fa-paint-brush fa-3x"></i></h2>
              </div>
          </div>
      </div>
      <div class="col-md-4 categories-card " [routerLink]="['/categories', languages]">
          <div class="card text-center red-card">
              <div class="card-block">
                  <h4 class="card-title">Странски јазици</h4>
                  <h2><i class="fas fa-book fa-3x"></i></h2>
              </div>

          </div>
      </div>
      <div class="col-md-4 categories-card " [routerLink]="['/categories', maths]">
          <div class="card text-center yellow-card">
              <div class="card-block">
                  <h4 class="card-title">Математика</h4>
                  <h2><i class="fas fa-square-root-alt fa-3x"></i></h2>
              </div>

          </div>
      </div>
  </div>

  <div class="row my-3">
    <div class="col-md-4 categories-card" [routerLink]="['/categories', it]">
        <div class="card text-center  green-card">
            <div class="card-block">
                <h4 class="card-title">ИТ</h4>
                <h2><i class="fas fa-code fa-3x"></i></h2>
            </div>

        </div>
    </div>
    <div class="col-md-4 categories-card" [routerLink]="['/categories', music]">
        <div class="card text-center turqoise-card">
            <div class="card-block">
                <h4 class="card-title">Музика</h4>
                <h2><i class="fas fa-music fa-3x"></i></h2>
            </div>

        </div>
    </div>
    <div class="col-md-4 categories-card" [routerLink]="['/categories', science]">
        <div class="card text-center grey-card">
            <div class="card-block">
                <h4 class="card-title">Наука</h4>
                <h2><i class="fas fa-flask fa-3x"></i></h2>
            </div>

        </div>
    </div>
</div>

</div>
