<div class="container">

  <div class="row my-3">
      <div class="col-md-4 categories-card" [routerLink]="['/']">
          <div class="card text-center">
              <div class="card-block">
                  <h4 class="card-title">Ликовна уметност</h4>
                  <h2><i class="fas fa-paint-brush fa-3x"></i></h2>
              </div>
          </div>
      </div>
      <div class="col-md-4 categories-card" [routerLink]="['/categories/foreignlanguages']">
          <div class="card text-center">
              <div class="card-block">
                  <h4 class="card-title">Странски јазици</h4>
                  <h2><i class="fas fa-book fa-3x"></i></h2>
              </div>

          </div>
      </div>
      <div class="col-md-4 categories-card">
          <div class="card text-center">
              <div class="card-block">
                  <h4 class="card-title">Математика</h4>
                  <h2><i class="fas fa-square-root-alt fa-3x"></i></h2>
              </div>

          </div>
      </div>
  </div>

  <div class="row my-3">
    <div class="col-md-4 categories-card">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">ИТ</h4>
                <h2><i class="fas fa-code fa-3x"></i></h2>
            </div>

        </div>
    </div>
    <div class="col-md-4 categories-card">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Музика</h4>
                <h2><i class="fas fa-music fa-3x"></i></h2>
            </div>

        </div>
    </div>
    <div class="col-md-4 categories-card">
        <div class="card text-center card-info">
            <div class="card-block">
                <h4 class="card-title">Big Savings</h4>
                <h2><i class="fa fa-coffee fa-3x"></i></h2>
            </div>

        </div>
    </div>
</div>

</div>
