.navbar-dark .navbar-nav .nav-link{
    color: white;
    margin: 5px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #007bff;
}
.navbar-dark .navbar-nav .nav-link:active{

}

#navbarSupportedContent > ul.navbar-nav.mr-4 > li:nth-child(5){
    background-color: dimgrey!important;
    border-radius: 8px;
    padding-right: 10px;
}
#navbarSupportedContent > ul.navbar-nav.mr-4 > li:nth-child(6){
    background-color: dimgrey!important;
    border-radius: 8px;
}