<div class="container single-category-custom">
  <h1>{{categoryTitle}}</h1>

  <div class="filters">

    <div class="lista filter">
        <label>Филтрирај по ниво:</label>
        <select [(ngModel)]="selectedLevel" (change)="selectedLvl()" class="custom-select">
          <option value="All">All</option>
          <option value="Beginner" >Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
    </div>

    <div class="lista sort">
      <label>Сортирај по:</label>
      <select [(ngModel)]="selectedFilter" (change)="selectedLvl()" class="custom-select">
        <option value="None">None</option>
        <option value="AlphabeticalAsc">Азбучен ред (А-З)</option>
        <option value="AlphabeticalDesc">Азбучен ред (3-А)</option>
        <option value="PriceAsc" >Цена (растечки)</option>
        <option value="PriceDesc" >Цена (опаѓачки)</option>
        <option value="DateAsc" >Датум (најнови)</option>
        <option value="DateDesc" >Датум (најстари)</option>
      </select>
    </div>
    <div class="lista search">
      <label>Пребарај:</label>
      <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control" placeholder="Search Announcements" >
    </div>

  </div>
  <app-announcement-thumbnail [announcements]="announcements" [searchTerm]="searchTerm" [sortType]="selectedFilter" [filterLevel]="selectedLevel" ></app-announcement-thumbnail>



 </div>

