<app-navbar></app-navbar>

  <!-- <h1>{{model?.name}}</h1>
  <h2>{{model?.surname}}</h2>
  <h2>{{model?.email}}</h2>
  <button (click)="onClick()" type="submit">Add</button>
  <button (click)="delete()" type="submit">Delete</button> -->

  <router-outlet></router-outlet>

<app-footer></app-footer>

<script>


    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    for (var i=0;i<4;i++) {
      next=next.next();
      if (!next.length) {
        next=$(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
    }
  });
</script>
