.carousel-custom{
    margin-top: 70px;
    padding-top: 50px;
    margin-bottom: 70px;
    background-color:#f8f9fa;
    color: black;
}
.achievements-custom {
    margin-bottom: 50px;
}
.small-text{
    margin-top:10px;
    margin:20px;
}
.possibilities-custom{
    margin-top:50px;
    margin-bottom: 50px;
}